.territory {
    min-width: 120px;
    min-height: 100px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    border-radius: 20%;
}

.territory:hover {
    transform: scale(1.2) ;
    z-index: 1;
}

.territory-name:hover {
    color: blue;
}
